openapi: 3.1.0
info:
  title: Socrates Backend API
  description: |
    REST + SSE API consumed by the Socrates web SPA and the Expo Android
    shell. The existing
    endpoints (auth, captcha, sessions, share, api-key, migrate,
    chat, agent, search, fetch-batch) are summarised at the end
    of this file for completeness; the new endpoints introduced
    by the P1-P6 feature enhancements are documented in detail.
  version: "2.0.0"
  contact:
    name: Socrates engineering
    url: https://app.topodrive.top/
servers:
  - url: https://app.topodrive.top
    description: Production
  - url: http://localhost:8080
    description: Local dev
security:
  - cookieAuth: []
  - csrfHeader: []

tags:
  - name: mobile
    description: Android shell bootstrap and API-origin contract
  - name: messages
    description: Per-message actions (P1.1 — Copy/Edit/Regenerate/Feedback)
  - name: search
    description: Global session search (P1.2)
  - name: users
    description: User preferences and custom instructions (P1.3)
  - name: projects
    description: Workspace projects / folders (P2.1)
  - name: tags
    description: Session tags and pin state (P2.2)
  - name: archive
    description: Archive / restore / purge (P2.3)
  - name: files
    description: File & image upload + retrieval (P3.1, P3.2)
  - name: voice
    description: Voice transcription (P3.3)
  - name: artifacts
    description: Canvas artifacts — HTML/React/SVG/Mermaid (P4.1)
  - name: memory
    description: Cross-session memory store (P4.4)
  - name: usage
    description: Token usage / billing dashboard (P5.1)
  - name: notifications
    description: Push notification registration (P5.2)
  - name: workspaces
    description: Team workspaces (P5.5)
  - name: collaborators
    description: Real-time collaboration sync (P6.1)
  - name: agents
    description: Agent runs, plans, checkpoints (P6.2)
  - name: codex
    description: Embedded Codex agent runtime — threads, turns (SSE), approvals
  - name: classroom
    description: Classroom, spaced-repetition, study paths (P6.3)
  - name: imports
    description: Import from ChatGPT/Claude export (P5.7)
  - name: prompts
    description: Prompt templates (P5.8)

paths:
  /api/mobile/bootstrap:
    get:
      tags: [mobile]
      operationId: getMobileBootstrap
      summary: Return the Android shell's same-origin API contract
      security: []
      responses:
        '200':
          description: Public, secret-free mobile endpoint configuration
          content:
            application/json:
              schema:
                type: object
                required: [ok, contractVersion, webBaseUrl, apiBaseUrl, canonicalApiBaseUrl, healthPath]
                properties:
                  ok: { type: boolean, const: true }
                  contractVersion: { type: integer, const: 1 }
                  product: { type: string, const: socrates }
                  platform: { type: string, const: android }
                  webBaseUrl: { type: string, format: uri }
                  apiBaseUrl: { type: string, format: uri, description: Cache-bypass API prefix used by mobile and web clients. }
                  canonicalApiBaseUrl: { type: string, format: uri }
                  healthPath: { type: string, const: /api/v2/health }

  # ========================================================================
  # P1.1 — Message operations
  # ========================================================================
  /api/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    patch:
      tags: [messages]
      operationId: editMessage
      summary: Edit the content of a user message (and optionally regenerate the assistant reply)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, minLength: 1, maxLength: 32000 }
                regenerate: { type: boolean, default: false, description: If true, also delete the assistant message that followed and trigger a new stream. }
      responses:
        '200':
          description: Updated message
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [messages]
      operationId: deleteMessage
      summary: Soft-delete a message (kept for audit, hidden from chat)
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/messages/{messageId}/regenerate:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    post:
      tags: [messages]
      operationId: regenerateAssistant
      summary: Re-run the model on the user message that precedes this assistant message
      description: |
        Returns a Server-Sent-Events stream identical in shape to
        `/api/chat/stream`, with `delta.content` chunks. After the
        stream completes, the server has replaced the assistant
        message in-place.
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema: { $ref: '#/components/schemas/ChatDelta' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/messages/{messageId}/feedback:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    put:
      tags: [messages]
      operationId: submitFeedback
      summary: Thumbs up/down + optional reason
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating: { type: string, enum: [up, down, none] }
                reason: { type: string, maxLength: 500, description: Free-form feedback when rating is "down" }
                categories:
                  type: array
                  items: { type: string, enum: [hallucination, off_topic, too_long, too_short, wrong_format, harmful, other] }
      responses:
        '200':
          description: Stored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeedbackReceipt' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/messages/{messageId}/copy-event:
    parameters:
      - $ref: '#/components/parameters/MessageId'
    post:
      tags: [messages]
      operationId: logCopy
      summary: "Server-side telemetry: user clicked Copy on this message"
      description: |
        Best-effort; the client may skip this on privacy opt-out.
        Helps the user see "this is a popular answer" and helps
        admins prioritise quality work.
      responses:
        '204': { description: Recorded }

  # ========================================================================
  # P1.2 — Global search
  # ========================================================================
  /api/search:
    post:
      tags: [search]
      operationId: globalSearch
      summary: Search across sessions, messages, and artifacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [q]
              properties:
                q: { type: string, minLength: 1, maxLength: 200 }
                scope: { type: string, enum: [all, sessions, messages, artifacts, memory], default: all }
                projectId: { type: string, format: uuid, nullable: true }
                tags: { type: array, items: { type: string } }
                limit: { type: integer, default: 20, maximum: 100 }
                cursor: { type: string, nullable: true, description: Opaque pagination cursor }
                from: { type: string, format: date, nullable: true }
                to: { type: string, format: date, nullable: true }
      responses:
        '200':
          description: Hits
          content:
            application/json:
              schema:
                type: object
                required: [hits]
                properties:
                  hits:
                    type: array
                    items: { $ref: '#/components/schemas/SearchHit' }
                  nextCursor: { type: string, nullable: true }
                  total: { type: integer }

  /api/search/suggest:
    get:
      tags: [search]
      operationId: searchSuggest
      summary: Typeahead suggestions (titles, tags, recent queries)
      parameters:
        - in: query
          name: q
          schema: { type: string, minLength: 1, maxLength: 100 }
      responses:
        '200':
          description: Suggestions
          content:
            application/json:
              schema:
                type: object
                properties:
                  titles: { type: array, items: { type: string } }
                  tags: { type: array, items: { type: string } }
                  recent: { type: array, items: { type: string } }

  # ========================================================================
  # P1.3 — User preferences
  # ========================================================================
  /api/users/me:
    get:
      tags: [users]
      operationId: getMe
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
    patch:
      tags: [users]
      operationId: updateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName: { type: string, maxLength: 80 }
                customInstructions:
                  type: string
                  maxLength: 8000
                  description: Always prepended to the system prompt
                preferences:
                  type: object
                  additionalProperties: true
                  description: Free-form key/value bag (theme, fontStep, etc.)
                defaultModel: { type: string, nullable: true }
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }

  /api/users/me/export:
    get:
      tags: [users]
      operationId: exportMyData
      summary: GDPR-style data export (sessions, memories, settings)
      responses:
        '200':
          description: ZIP archive
          content:
            application/zip:
              schema: { type: string, format: binary }

  # ========================================================================
  # P2.1 — Projects
  # ========================================================================
  /api/projects:
    get:
      tags: [projects]
      operationId: listProjects
      responses:
        '200':
          description: List of projects the user owns or has access to
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects: { type: array, items: { $ref: '#/components/schemas/Project' } }
    post:
      tags: [projects]
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 80 }
                description: { type: string, maxLength: 2000 }
                color: { type: string, pattern: "^#[0-9A-Fa-f]{6}$" }
                icon: { type: string, maxLength: 16, description: Emoji or short label }
                systemPrompt: { type: string, maxLength: 32000, description: Project-scoped system prompt additions }
                workspaceId: { type: string, format: uuid, nullable: true }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      operationId: getProject
      responses:
        '200':
          description: Project with sessions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectDetail' }
    patch:
      tags: [projects]
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                color: { type: string }
                icon: { type: string }
                systemPrompt: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
    delete:
      tags: [projects]
      operationId: deleteProject
      summary: Hard-delete a project and its related data
      description: Permanently deletes the project, its sessions and messages, project-scoped files, artifacts and versions, memories, execution records, and execution metadata.
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/projects/{projectId}/sessions:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      operationId: listProjectSessions
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50, maximum: 200 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions: { type: array, items: { $ref: '#/components/schemas/SessionSummary' } }
                  nextCursor: { type: string, nullable: true }

  # ========================================================================
  # P2.2 — Scheduled tasks, connectors and learning state
  # ========================================================================
  /api/scheduled-tasks:
    get:
      tags: [scheduled]
      operationId: listScheduledTasks
      responses:
        '200':
          description: Scheduled tasks owned by the current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks: { type: array, items: { $ref: '#/components/schemas/ScheduledTask' } }
    post:
      tags: [scheduled]
      operationId: createScheduledTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, prompt]
              properties:
                title: { type: string }
                prompt: { type: string }
                sessionId: { type: string, format: uuid, nullable: true }
                cronExpression: { type: string, nullable: true }
                frequency: { type: string, enum: [once, hourly, daily, weekly, monthly, custom] }
                nextRunAt: { type: string, format: date-time, nullable: true }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduledTask' }

  /api/scheduled-tasks/{taskId}:
    parameters:
      - in: path
        name: taskId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [scheduled]
      operationId: updateScheduledTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                prompt: { type: string }
                sessionId: { type: string, format: uuid, nullable: true }
                cronExpression: { type: string, nullable: true }
                frequency: { type: string }
                status: { type: string, enum: [pending, active, paused, completed, failed] }
                nextRunAt: { type: string, format: date-time, nullable: true }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduledTask' }
    delete:
      tags: [scheduled]
      operationId: deleteScheduledTask
      responses:
        '204': { description: Deleted }

  /api/scheduled-tasks/{taskId}/run:
    parameters:
      - in: path
        name: taskId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [scheduled]
      operationId: runScheduledTask
      summary: Execute a scheduled task immediately without moving its next slot
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScheduledTask' }

  /api/project-connectors:
    get:
      tags: [connectors]
      operationId: listProjectConnectors
      responses:
        '200':
          description: Product-owned connector catalogue and opaque connection state
          content:
            application/json:
              schema:
                type: object
                properties:
                  mode: { type: string }
                  configured: { type: boolean }
                  connectors: { type: array, items: { $ref: '#/components/schemas/ProjectConnector' } }

  /api/project-connectors/{provider}/connect:
    parameters:
      - in: path
        name: provider
        required: true
        schema: { type: string }
    post:
      tags: [connectors]
      operationId: connectProjectConnector
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey: { type: string, format: password }
                values: { type: object, additionalProperties: { type: string } }
      responses:
        '201':
          description: OAuth request or connected account metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  requestId: { type: string }
                  authorizationUrl: { type: string, format: uri }
                  expiresAt: { type: string, format: date-time }
                  connectedAccountId: { type: string }
                  displayName: { type: string, nullable: true }

  /api/project-connectors/{provider}/status:
    parameters:
      - in: path
        name: provider
        required: true
        schema: { type: string }
    get:
      tags: [connectors]
      operationId: getProjectConnectorStatus
      responses:
        '200':
          description: Opaque connection state
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection:
                    allOf:
                      - $ref: '#/components/schemas/ProjectConnectorConnection'
                    nullable: true

  /api/knowledge-boundary:
    get:
      tags: [knowledge]
      operationId: listKnowledgeBoundary
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [fuzzy, internalized, blank] }
        - in: query
          name: sessionId
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Aggregated knowledge nodes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/KnowledgeNode' } }
                  summary: { type: object, additionalProperties: { type: integer } }

  /api/mistakes:
    get:
      tags: [mistakes]
      operationId: listMistakes
      parameters:
        - in: query
          name: resolved
          schema: { type: boolean }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: offset
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200':
          description: User mistakes
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Mistake' } }
                  total: { type: integer }
    post:
      tags: [mistakes]
      operationId: createMistake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [questionContent]
              properties:
                sessionId: { type: string, format: uuid, nullable: true }
                nodeName: { type: string, nullable: true }
                questionContent: { type: string }
                userAnswer: { type: string, nullable: true }
                correctAnswer: { type: string, nullable: true }
                source: { type: string, enum: [quiz, practice, manual] }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Mistake' }

  /api/mistakes/{mistakeId}:
    parameters:
      - in: path
        name: mistakeId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [mistakes]
      operationId: updateMistake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isResolved: { type: boolean }
                resolvedAt: { type: string, format: date-time, nullable: true }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Mistake' }
    delete:
      tags: [mistakes]
      operationId: deleteMistake
      responses:
        '204': { description: Deleted }

  # ========================================================================
  # P2.3 — Tags & pinning
  # ========================================================================
  /api/sessions/{sessionId}/tags:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    put:
      tags: [tags]
      operationId: setSessionTags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              properties:
                tags: { type: array, items: { type: string, maxLength: 30 }, maxItems: 12 }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionSummary' }

  /api/sessions/{sessionId}/pin:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [tags]
      operationId: pinSession
      responses:
        '200':
          description: Pinned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionSummary' }
    delete:
      tags: [tags]
      operationId: unpinSession
      responses:
        '200':
          description: Unpinned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionSummary' }

  /api/tags:
    get:
      tags: [tags]
      operationId: listMyTags
      responses:
        '200':
          description: User's tag vocabulary
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        count: { type: integer }
                        color: { type: string }

  # ========================================================================
  # P2.3 — Archive / trash
  # ========================================================================
  /api/sessions/{sessionId}/archive:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    post:
      tags: [archive]
      operationId: archiveSession
      responses:
        '200':
          description: Archived
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionSummary' }
    delete:
      tags: [archive]
      operationId: restoreSession
      responses:
        '200':
          description: Restored
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionSummary' }

  /api/sessions/archived:
    get:
      tags: [archive]
      operationId: listArchived
      parameters:
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Archived sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions: { type: array, items: { $ref: '#/components/schemas/SessionSummary' } }

  /api/sessions/{sessionId}:
    delete:
      tags: [archive]
      operationId: purgeSession
      summary: Hard-delete (only valid for already-archived sessions)
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '204': { description: Purged }
        '409':
          description: Session is not archived; archive first
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ========================================================================
  # P3.1 — File upload
  # ========================================================================
  /api/files:
    post:
      tags: [files]
      operationId: uploadFile
      summary: Multipart upload. Returns a fileId that can be attached to messages.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Max 25 MB
                sessionId: { type: string, format: uuid, nullable: true, description: If provided, file is bound to the session for retention purposes. }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileRef' }
        '413':
          description: File too large
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /api/files/{fileId}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      tags: [files]
      operationId: getFile
      responses:
        '200':
          description: File metadata
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileRef' }
    delete:
      tags: [files]
      operationId: deleteFile
      responses:
        '204': { description: Deleted }

  /api/files/{fileId}/raw:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      tags: [files]
      operationId: getFileRaw
      responses:
        '200':
          description: File bytes
          content:
            application/octet-stream:
              schema: { type: string, format: binary }

  /api/files/{fileId}/content:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      tags: [files]
      operationId: getFilePreviewContent
      summary: Extract a bounded text preview for the library viewer
      responses:
        '200':
          description: Text preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  id: { type: string, format: uuid }
                  name: { type: string }
                  mimeType: { type: string }
                  kind: { type: string }
                  text: { type: string }
                  truncated: { type: boolean }
                  meta: { type: object, additionalProperties: true }
        '415': { $ref: '#/components/responses/BadRequest' }

  /api/files/{fileId}/thumbnail:
    parameters:
      - $ref: '#/components/parameters/FileId'
      - in: query
        name: w
        schema: { type: integer, default: 256 }
      - in: query
        name: h
        schema: { type: integer, default: 256 }
    get:
      tags: [files]
      operationId: getFileThumbnail
      responses:
        '200':
          description: PNG thumbnail
          content:
            image/png:
              schema: { type: string, format: binary }

  # ========================================================================
  # P3.3 — Voice
  # ========================================================================
  /api/voice/transcribe:
    post:
      tags: [voice]
      operationId: transcribeAudio
      summary: Server-side fallback when client-side Web Speech API is unavailable
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                  description: webm/opus or wav, max 5 minutes
                language:
                  type: string
                  description: BCP-47 code, e.g. "en-US"
      responses:
        '200':
          description: Transcript
          content:
            application/json:
              schema:
                type: object
                properties:
                  text: { type: string }
                  language: { type: string }
                  duration: { type: number, description: Seconds }
                  words:
                    type: array
                    items: { $ref: '#/components/schemas/TranscriptWord' }

  # ========================================================================
  # P4.1 — Artifacts
  # ========================================================================
  /api/artifacts:
    parameters:
      - $ref: '#/components/parameters/SessionIdOptional'
      - in: query
        name: projectId
        schema: { type: string, format: uuid }
    post:
      tags: [artifacts]
      operationId: createArtifact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, source]
              properties:
                type: { type: string, enum: [html, react, svg, mermaid, code, markdown] }
                title: { type: string, maxLength: 200 }
                source: { type: string, description: Original code/markup }
                sessionId: { type: string, format: uuid }
                messageId: { type: string, format: uuid }
                language: { type: string, description: For code artifacts }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Artifact' }
    get:
      tags: [artifacts]
      operationId: listArtifacts
      responses:
        '200':
          description: User's artifacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  artifacts: { type: array, items: { $ref: '#/components/schemas/Artifact' } }

  /api/artifacts/{artifactId}:
    parameters:
      - $ref: '#/components/parameters/ArtifactId'
    get:
      tags: [artifacts]
      operationId: getArtifact
      responses:
        '200':
          description: Artifact
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Artifact' }
    patch:
      tags: [artifacts]
      operationId: updateArtifact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                source: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Artifact' }
    delete:
      tags: [artifacts]
      operationId: deleteArtifact
      responses:
        '204': { description: Deleted }

  /api/artifacts/{artifactId}/versions:
    parameters:
      - $ref: '#/components/parameters/ArtifactId'
    get:
      tags: [artifacts]
      operationId: listArtifactVersions
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions: { type: array, items: { $ref: '#/components/schemas/ArtifactVersion' } }

  /api/artifacts/{artifactId}/share:
    parameters:
      - $ref: '#/components/parameters/ArtifactId'
    post:
      tags: [artifacts]
      operationId: shareArtifact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility: { type: string, enum: [public, unlisted, private] }
      responses:
        '201':
          description: Shared
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ShareResponse' }
    delete:
      tags: [artifacts]
      operationId: unshareArtifact
      responses:
        '204': { description: Unshared }

  /a/{shareToken}:
    get:
      tags: [artifacts]
      operationId: publicArtifactView
      responses:
        '200':
          description: Public artifact page (HTML)
          content:
            text/html: {}

  # ========================================================================
  # P4.4 — Memory
  # ========================================================================
  /api/memory:
    get:
      tags: [memory]
      operationId: listMemories
      parameters:
        - in: query
          name: includeDisabled
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: User memories
          content:
            application/json:
              schema:
                type: object
                properties:
                  memories: { type: array, items: { $ref: '#/components/schemas/MemoryEntry' } }
    post:
      tags: [memory]
      operationId: createMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 2000 }
                scope: { type: string, enum: [global, project], default: global }
                projectId: { type: string, format: uuid, nullable: true }
                source: { type: string, enum: [user, extracted], default: user }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemoryEntry' }

  /api/memory/{memoryId}:
    parameters:
      - $ref: '#/components/parameters/MemoryId'
    patch:
      tags: [memory]
      operationId: updateMemory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string }
                enabled: { type: boolean }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemoryEntry' }
    delete:
      tags: [memory]
      operationId: deleteMemory
      responses:
        '204': { description: Deleted }

  /api/memory/{memoryId}/enable:
    parameters:
      - $ref: '#/components/parameters/MemoryId'
    post:
      tags: [memory]
      operationId: enableMemory
      responses:
        '200':
          description: Enabled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemoryEntry' }

  /api/memory/{memoryId}/disable:
    parameters:
      - $ref: '#/components/parameters/MemoryId'
    post:
      tags: [memory]
      operationId: disableMemory
      responses:
        '200':
          description: Disabled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemoryEntry' }

  /api/memory/extract:
    post:
      tags: [memory]
      operationId: extractMemoriesFromSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId: { type: string, format: uuid }
                confirm: { type: array, items: { type: string, maxLength: 2000 }, description: Pre-approved candidates to upsert verbatim }
      responses:
        '200':
          description: Extraction candidates
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items: { $ref: '#/components/schemas/MemoryEntry' }

  # ========================================================================
  # P5.1 — Usage
  # ========================================================================
  /api/usage:
    get:
      tags: [usage]
      operationId: getUsage
      parameters:
        - in: query
          name: period
          schema: { type: string, enum: [day, week, month, all], default: month }
        - in: query
          name: groupBy
          schema: { type: string, enum: [model, project, day, none], default: model }
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Usage' }

  /api/usage/limits:
    get:
      tags: [usage]
      operationId: getUsageLimits
      responses:
        '200':
          description: Plan limits
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UsageLimits' }

  # ========================================================================
  # P5.2 — Notifications
  # ========================================================================
  /api/notifications/register:
    post:
      tags: [notifications]
      operationId: registerPush
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [platform, token]
              properties:
                platform: { type: string, enum: [web, android, ios] }
                token: { type: string }
                deviceId: { type: string, nullable: true }
                channels:
                  type: array
                  items: { type: string, enum: [long_tasks, mentions, replies, billing] }
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationToken' }

  /api/notifications/unregister:
    delete:
      tags: [notifications]
      operationId: unregisterPush
      responses:
        '204': { description: Unregistered }

  /api/notifications/preferences:
    get:
      tags: [notifications]
      operationId: getNotifPrefs
      responses:
        '200':
          description: Per-channel preferences
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPrefs' }
    put:
      tags: [notifications]
      operationId: setNotifPrefs
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NotificationPrefs' }
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationPrefs' }

  # ========================================================================
  # P5.5 — Workspaces
  # ========================================================================
  /api/workspaces:
    get:
      tags: [workspaces]
      operationId: listWorkspaces
      responses:
        '200':
          description: Workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces: { type: array, items: { $ref: '#/components/schemas/Workspace' } }
    post:
      tags: [workspaces]
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
                plan: { type: string, enum: [team, business], default: team }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }

  /api/workspaces/{workspaceId}/members:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
    get:
      tags: [workspaces]
      operationId: listMembers
      responses:
        '200':
          description: Members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members: { type: array, items: { $ref: '#/components/schemas/WorkspaceMember' } }
    post:
      tags: [workspaces]
      operationId: inviteMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string, format: email }
                role: { type: string, enum: [admin, member, viewer] }
      responses:
        '201':
          description: Invited
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceMember' }

  /api/workspaces/{workspaceId}/members/{userId}:
    parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - in: path
        name: userId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [workspaces]
      operationId: updateMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role: { type: string, enum: [admin, member, viewer] }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkspaceMember' }
    delete:
      tags: [workspaces]
      operationId: removeMember
      responses:
        '204': { description: Removed }

  # ========================================================================
  # P5.7 — Import
  # ====================================================================
  /api/import:
    post:
      tags: [imports]
      operationId: importConversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source, payload]
              properties:
                source: { type: string, enum: [chatgpt, claude, socrates, jsonl] }
                payload: { type: object, description: Source-native format }
                projectId: { type: string, format: uuid, nullable: true }
      responses:
        '202':
          description: Import started
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImportJob' }
    get:
      tags: [imports]
      operationId: listImports
      responses:
        '200':
          description: Past imports
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs: { type: array, items: { $ref: '#/components/schemas/ImportJob' } }

  /api/import/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [imports]
      operationId: getImport
      responses:
        '200':
          description: Import job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImportJob' }

  # ========================================================================
  # P5.8 — Prompt templates
  # ========================================================================
  /api/prompts:
    get:
      tags: [prompts]
      operationId: listPromptTemplates
      parameters:
        - in: query
          name: scope
          schema: { type: string, enum: [builtin, mine, all], default: all }
      responses:
        '200':
          description: Templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates: { type: array, items: { $ref: '#/components/schemas/PromptTemplate' } }
    post:
      tags: [prompts]
      operationId: createPromptTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body]
              properties:
                title: { type: string, maxLength: 80 }
                description: { type: string, maxLength: 200 }
                body: { type: string, maxLength: 32000 }
                icon: { type: string, maxLength: 16 }
                category: { type: string, enum: [writing, code, learning, analysis, creative, other] }
                shortcut: { type: string, maxLength: 20, description: Optional slash-command alias, e.g. "/summarize" }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromptTemplate' }

  /api/prompts/{templateId}:
    parameters:
      - in: path
        name: templateId
        required: true
        schema: { type: string, format: uuid }
    patch:
      tags: [prompts]
      operationId: updatePromptTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title: { type: string }
                description: { type: string }
                body: { type: string }
                icon: { type: string }
                category: { type: string }
                shortcut: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PromptTemplate' }
    delete:
      tags: [prompts]
      operationId: deletePromptTemplate
      responses:
        '204': { description: Deleted }

  # ========================================================================
  # P6.1 — Real-time collaboration
  # ========================================================================
  /api/sessions/{sessionId}/collab:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    get:
      tags: [collaborators]
      operationId: openCollabSocket
      summary: Upgrade to WebSocket for real-time sync (Y.js over binary protocol)
      description: |
        Bidirectional WebSocket. The server stores the Y.Doc per
        session and broadcasts updates to all connected clients.
        Authentication via the same `sid` cookie + `X-CSRF-Token`
        header (sent in the WebSocket upgrade request).
      responses:
        '101':
          description: Switching protocols
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/sessions/{sessionId}/collab/presence:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    get:
      tags: [collaborators]
      operationId: getPresence
      responses:
        '200':
          description: Currently connected users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items: { $ref: '#/components/schemas/PresenceUser' }

  /api/sessions/{sessionId}/collab/comments:
    parameters:
      - $ref: '#/components/parameters/SessionId'
    get:
      tags: [collaborators]
      operationId: listComments
      responses:
        '200':
          description: Inline comments anchored to message ids
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments: { type: array, items: { $ref: '#/components/schemas/Comment' } }
    post:
      tags: [collaborators]
      operationId: addComment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anchor, body]
              properties:
                anchor: { type: string, description: MessageId or range }
                body: { type: string, maxLength: 4000 }
                parentId: { type: string, format: uuid, nullable: true, description: For threading replies }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Comment' }

  # ========================================================================
  # P6.2 — Agent reinforcement
  # ========================================================================
  /api/agent/runs/{runId}:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [agents]
      operationId: getAgentRun
      responses:
        '200':
          description: Run state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRun' }

  /api/agent/runs/{runId}/plan:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
    put:
      tags: [agents]
      operationId: setAgentPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [steps]
              properties:
                steps:
                  type: array
                  items:
                    type: object
                    required: [id, title]
                    properties:
                      id: { type: string }
                      title: { type: string, maxLength: 200 }
                      rationale: { type: string, maxLength: 1000 }
                approved: { type: boolean, default: false, description: When true, the agent starts executing. }
      responses:
        '200':
          description: Plan saved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRun' }

  /api/agent/runs/{runId}/checkpoints:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [agents]
      operationId: listCheckpoints
      responses:
        '200':
          description: Rollback points
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkpoints: { type: array, items: { $ref: '#/components/schemas/Checkpoint' } }
    post:
      tags: [agents]
      operationId: createCheckpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 100 }
                description: { type: string, maxLength: 500 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Checkpoint' }

  /api/agent/runs/{runId}/checkpoints/{checkpointId}/rollback:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: checkpointId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [agents]
      operationId: rollbackToCheckpoint
      responses:
        '200':
          description: Rolled back
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRun' }

  /api/agent/runs/{runId}/diffs:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [agents]
      operationId: listDiffs
      responses:
        '200':
          description: Proposed file changes
          content:
            application/json:
              schema:
                type: object
                properties:
                  diffs: { type: array, items: { $ref: '#/components/schemas/FileDiff' } }

  /api/agent/runs/{runId}/diffs/{diffId}/approve:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: diffId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [agents]
      operationId: approveDiff
      responses:
        '200':
          description: Approved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileDiff' }

  /api/agent/runs/{runId}/diffs/{diffId}/reject:
    parameters:
      - in: path
        name: runId
        required: true
        schema: { type: string, format: uuid }
      - in: path
        name: diffId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [agents]
      operationId: rejectDiff
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Rejected
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FileDiff' }

  /api/agent/compact:
    post:
      tags: [agents]
      operationId: compactContext
      summary: Force context compaction of a long agent conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [runId]
              properties:
                runId: { type: string, format: uuid }
                strategy: { type: string, enum: [sliding, summary, both], default: both }
      responses:
        '200':
          description: Compaction stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  beforeTokens: { type: integer }
                  afterTokens: { type: integer }
                  summary: { type: string, nullable: true }

  # ========================================================================
  # P6.3 — Classroom / spaced repetition
  # ========================================================================
  /api/classroom/classes:
    get:
      tags: [classroom]
      operationId: listClasses
      responses:
        '200':
          description: "Classes (teacher view: own; student view: enrolled)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  classes: { type: array, items: { $ref: '#/components/schemas/ClassroomClass' } }
    post:
      tags: [classroom]
      operationId: createClass
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 80 }
                description: { type: string, maxLength: 500 }
                subject: { type: string, maxLength: 40 }
                gradeLevel: { type: string, maxLength: 20 }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClassroomClass' }

  /api/classroom/classes/{classId}/students:
    parameters:
      - in: path
        name: classId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [classroom]
      operationId: listClassStudents
      responses:
        '200':
          description: Students
          content:
            application/json:
              schema:
                type: object
                properties:
                  students: { type: array, items: { $ref: '#/components/schemas/StudentSummary' } }
    post:
      tags: [classroom]
      operationId: joinClass
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [joinCode]
              properties:
                joinCode: { type: string, pattern: "^[A-Z0-9]{6}$" }
      responses:
        '201':
          description: Joined
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClassroomClass' }

  /api/classroom/classes/{classId}/dashboard:
    parameters:
      - in: path
        name: classId
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [classroom]
      operationId: getClassDashboard
      description: Teacher-only. Aggregate progress, mistake hotspots, completion rates.
      responses:
        '200':
          description: Dashboard
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClassDashboard' }

  /api/srs/queue:
    get:
      tags: [classroom]
      operationId: getSrsQueue
      description: Spaced-repetition queue of mistakes due for review today
      responses:
        '200':
          description: Queue
          content:
            application/json:
              schema:
                type: object
                properties:
                  due: { type: array, items: { $ref: '#/components/schemas/MistakeSummary' } }
                  new: { type: array, items: { $ref: '#/components/schemas/MistakeSummary' } }
                  learning: { type: array, items: { $ref: '#/components/schemas/MistakeSummary' } }
    post:
      tags: [classroom]
      operationId: gradeSrsCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mistakeId, grade]
              properties:
                mistakeId: { type: string, format: uuid }
                grade: { type: integer, minimum: 0, maximum: 3, description: Anki-style 0-3 grade }
      responses:
        '200':
          description: Updated schedule
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextDue: { type: string, format: date-time }
                  interval: { type: integer, description: Days }
                  ease: { type: number }

  /api/paths:
    get:
      tags: [classroom]
      operationId: listStudyPaths
      responses:
        '200':
          description: Study paths
          content:
            application/json:
              schema:
                type: object
                properties:
                  paths: { type: array, items: { $ref: '#/components/schemas/StudyPath' } }

  /api/paths/{pathId}/enroll:
    parameters:
      - in: path
        name: pathId
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [classroom]
      operationId: enrollPath
      responses:
        '200':
          description: Enrolled
          content:
            application/json:
              schema:
                type: object
                properties:
                  progress: { type: object }

  /api/streaks:
    get:
      tags: [classroom]
      operationId: getStreaks
      responses:
        '200':
          description: Streak data
          content:
            application/json:
              schema:
                type: object
                properties:
                  current: { type: integer, description: Consecutive days }
                  longest: { type: integer }
                  last7Days: { type: array, items: { type: boolean } }

  # ========================================================================
  # Existing endpoints (summary)
  # ========================================================================
  /api/auth/me:
    get:
      tags: [users]
      summary: EXISTING — see auth flow
  /api/auth/login:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/register:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/logout:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/forgot-password:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/reset-password:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/send-code:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/login-with-code:
    post:
      tags: [users]
      summary: EXISTING
  /api/auth/verify:
    get:
      tags: [users]
      summary: EXISTING
  /api/auth/oauth/github/start:
    get:
      tags: [users]
      summary: EXISTING
  /api/auth/mobile/login:
    post:
      tags: [mobile]
      summary: Sign in from the native client and issue a bearer/refresh token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MobileLoginRequest'
      responses:
        '200':
          description: Authenticated user and rotating mobile credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAuthResponse'
  /api/auth/mobile/login-with-code:
    post:
      tags: [mobile]
      summary: Exchange an eight-character email login code for mobile credentials
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code: { type: string, pattern: '^[A-HJ-KM-NP-Z2-9]{8}$' }
      responses:
        '200':
          description: Authenticated user and rotating mobile credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAuthResponse'
  /api/auth/mobile/verify:
    get:
      tags: [mobile]
      summary: Verify an email-registration token and issue mobile credentials
      security: []
      parameters:
        - in: query
          name: token
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Authenticated user and rotating mobile credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileAuthResponse'
  /api/auth/mobile/refresh:
    post:
      tags: [mobile]
      summary: Rotate a native refresh credential once
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string, pattern: '^mr\\.[a-f0-9]{32}\\.[a-f0-9]{64}$' }
      responses:
        '200':
          description: New mobile token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileTokenPair'
  /api/auth/mobile/logout:
    post:
      tags: [mobile]
      summary: Revoke a mobile refresh credential and its paired bearer
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken: { type: string, pattern: '^mr\\.[a-f0-9]{32}\\.[a-f0-9]{64}$' }
      responses:
        '200': { description: Revoked (idempotent) }
  /api/auth/mobile/oauth/exchange:
    post:
      tags: [mobile]
      summary: Exchange the short-lived GitHub native OAuth capability for credentials
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [exchangeToken]
              properties:
                exchangeToken: { type: string, pattern: '^mo\\.[a-f0-9]{64}$' }
      responses:
        '200':
          description: Mobile token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileTokenPair'
  /api/auth/mobile/web-session:
    post:
      tags: [mobile]
      summary: Mint a one-time WebView session hand-off URL
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target]
              properties:
                target:
                  type: string
                  enum: [projects, scheduled, plugins, knowledge, mistakes, skills, api-settings]
      responses:
        '200':
          description: Five-minute one-time URL that consumes into a HttpOnly web cookie
          content:
            application/json:
              schema:
                type: object
                required: [url, expiresAt]
                properties:
                  url: { type: string, format: uri }
                  expiresAt: { type: string, format: date-time }
  /api/auth/mobile/web-session/consume:
    get:
      tags: [mobile]
      summary: Consume a one-time native WebView hand-off and redirect into the SPA
      security: []
      parameters:
        - in: query
          name: token
          required: true
          schema: { type: string, pattern: '^mw\\.(projects|scheduled|plugins|knowledge|mistakes|skills|api-settings)\\.[a-f0-9]{64}$' }
      responses:
        '302': { description: Sets an HttpOnly sid cookie and redirects to an allow-listed SPA target }
  /api/auth/oauth/github/mobile/start:
    get:
      tags: [mobile]
      summary: Begin the native GitHub OAuth authorization-code exchange
      security: []
      parameters:
        - in: query
          name: redirect_uri
          required: true
          schema: { type: string, enum: ['socrates://auth/callback'] }
      responses:
        '302': { description: Redirect to GitHub authorization }
  /api/captcha/generate:
    get:
      tags: [users]
      summary: EXISTING
  /api/sessions:
    get:
      tags: [archive]
      summary: EXISTING — list active (non-archived) sessions
    post:
      tags: [archive]
      summary: EXISTING — create session
  /api/sessions/{id}:
    get:
      tags: [archive]
      summary: EXISTING — get session detail
    patch:
      tags: [archive]
      summary: EXISTING — update session
  /api/sessions/{id}/share:
    get:
      tags: [archive]
      summary: EXISTING
    post:
      tags: [archive]
      summary: EXISTING
    delete:
      tags: [archive]
      summary: EXISTING
  /api/shares/{token}:
    get:
      tags: [archive]
      summary: EXISTING — public read-only view
  /api/api-key:
    get:
      tags: [users]
      summary: EXISTING — list BYO providers
    post:
      tags: [users]
      summary: EXISTING
  /api/api-key/{id}:
    patch:
      tags: [users]
      summary: EXISTING
    delete:
      tags: [users]
      summary: EXISTING
  /api/migrate:
    post:
      tags: [users]
      summary: EXISTING — localStorage → server migration
  /api/chat:
    post:
      tags: [users]
      summary: EXISTING — non-streaming chat
      description: >-
        Returns the canonical `content` field and a temporary OpenAI-compatible
        `choices[0].message.content` view for older auxiliary clients. Native
        tool definitions are used only by the streaming endpoint.
  /api/chat/stream:
    post:
      tags: [users]
      summary: EXISTING — SSE chat
      description: >-
        The server injects the native tool contract from the exact tool
        registry for the current turn. Tool arguments are one JSON object that
        matches the supplied function schema, without an input or arguments
        wrapper. The stream shares the authenticated chat rate-limit bucket.
  /api/agent/run:
    post:
      tags: [agents]
      summary: EXISTING — SSE agent run
  /api/web-search:
    post:
      tags: [search]
      summary: EXISTING — web search proxy
  /api/fetch-batch:
    post:
      tags: [search]
      summary: EXISTING — fetch web pages
  /api/minimax/v1/chat/completions:
    post:
      tags: [users]
      summary: EXISTING — direct MiniMax proxy (Beagle built-in)
  /api/codex/capabilities:
    get:
      tags: [codex]
      operationId: getCodexCapabilities
      summary: Whether the embedded Codex harness is enabled and how the caller's LLM key resolves
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      responses:
        '200':
          description: Harness capability + provider resolution for the caller
          content:
            application/json:
              schema:
                type: object
                required: [enabled, providerMode]
                properties:
                  enabled: { type: boolean, description: CODEX_ENABLED server flag }
                  providerMode:
                    type: string
                    enum: [user, server]
                    description: user = the caller's own Responses-capable key is injected; server = harness falls back to CODEX_HOME auth
                  model: { type: string, nullable: true }
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/codex/threads:
    post:
      tags: [codex]
      operationId: createCodexThread
      summary: Create an isolated Codex thread (per-user workspace + per-user provider override)
      description: |
        The server builds the per-thread config (provider base_url + bearer
        token from the caller's own API key, cwd workspace, `workspace-write`
        sandbox, `on-request` approval policy). The client never supplies
        config or policy. Requires a Responses-API-capable endpoint.
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model: { type: string, description: Optional model override; defaults to the caller's configured provider model }
      responses:
        '201':
          description: Thread created
          content:
            application/json:
              schema:
                type: object
                required: [threadId, cwd]
                properties:
                  threadId: { type: string, format: uuid }
                  cwd: { type: string, description: Isolated workspace directory }
                  model: { type: string, nullable: true }
                  modelProvider: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Harness disabled or app-server failed to start
  /api/codex/threads/{threadId}:
    get:
      tags: [codex]
      operationId: getCodexThread
      summary: Thread status (owner-scoped)
      parameters:
        - $ref: '#/components/parameters/ThreadId'
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      responses:
        '200':
          description: Thread metadata + pending approvals
          content:
            application/json:
              schema:
                type: object
                required: [threadId]
                properties:
                  threadId: { type: string, format: uuid }
                  turnId: { type: string, nullable: true }
                  pendingApprovals: { type: integer, default: 0 }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Thread not found or not owned by the caller
    delete:
      tags: [codex]
      operationId: deleteCodexThread
      summary: Delete a thread and its workspace
      parameters:
        - $ref: '#/components/parameters/ThreadId'
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, const: true }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Thread not found or not owned by the caller
  /api/codex/threads/{threadId}/turns:
    post:
      tags: [codex]
      operationId: startCodexTurn
      summary: Start a Codex turn and stream bridged events over SSE
      description: |
        POST-based SSE (EventSource cannot POST). Event names: codex_init,
        codex_turn_started, codex_delta, codex_reasoning, codex_tool,
        codex_tool_output, codex_item_started, codex_item_completed,
        codex_approval, codex_usage, codex_thread_status, codex_turn_completed,
        codex_done, codex_error. Approval requests are answered via
        POST /api/codex/threads/{threadId}/approvals with the `requestId`
        carried in the codex_approval event.
      parameters:
        - $ref: '#/components/parameters/ThreadId'
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input: { type: string, maxLength: 20000, description: User message that starts the turn }
      responses:
        '200':
          description: text/event-stream of codex_* events (see summary)
        '400':
          description: Missing/oversized input
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Thread not found or not owned by the caller
  /api/codex/threads/{threadId}/approvals:
    post:
      tags: [codex]
      operationId: decideCodexApproval
      summary: Answer a pending approval request (accept / decline / …)
      parameters:
        - $ref: '#/components/parameters/ThreadId'
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [requestId, decision]
              properties:
                requestId:
                  oneOf:
                    - { type: string }
                    - { type: integer }
                  description: Echo of the requestId from the codex_approval SSE event
                decision:
                  type: string
                  enum: [accept, acceptForSession, acceptWithExecpolicyAmendment, applyNetworkPolicyAmendment, decline, cancel]
      responses:
        '200':
          description: Decision forwarded to the agent
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, const: true }
        '400':
          description: Invalid decision
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Thread not owned by the caller or approval no longer pending
  /api/codex/threads/{threadId}/interrupt:
    post:
      tags: [codex]
      operationId: interruptCodexTurn
      summary: Interrupt the active turn
      parameters:
        - $ref: '#/components/parameters/ThreadId'
      security:
        - cookieAuth: []
        - csrfHeader: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                turnId: { type: string, description: Optional; falls back to the server's tracked last turn }
      responses:
        '200':
          description: Interrupt accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean, const: true }
        '400':
          description: No active turn
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Thread not found or not owned by the caller

# ============================================================================
# Components
# ============================================================================
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: sid
    csrfHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Socrates mobile access token (ma.<pair>.<secret>)

  parameters:
    MessageId:
      in: path
      name: messageId
      required: true
      schema: { type: string, format: uuid }
    SessionId:
      in: path
      name: sessionId
      required: true
      schema: { type: string, format: uuid }
    SessionIdOptional:
      in: query
      name: sessionId
      schema: { type: string, format: uuid }
    ProjectId:
      in: path
      name: projectId
      required: true
      schema: { type: string, format: uuid }
    FileId:
      in: path
      name: fileId
      required: true
      schema: { type: string, format: uuid }
    ArtifactId:
      in: path
      name: artifactId
      required: true
      schema: { type: string, format: uuid }
    MemoryId:
      in: path
      name: memoryId
      required: true
      schema: { type: string, format: uuid }
    WorkspaceId:
      in: path
      name: workspaceId
      required: true
      schema: { type: string, format: uuid }
    ThreadId:
      in: path
      name: threadId
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Malformed request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Not signed in
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: CSRF missing or wrong, or wrong owner
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    MobileTokenPair:
      type: object
      required: [accessToken, refreshToken, expiresAt, refreshExpiresAt]
      properties:
        accessToken:
          type: string
          description: Short-lived bearer credential; send as Authorization Bearer.
          pattern: '^ma\\.[a-f0-9]{32}\\.[a-f0-9]{64}$'
        refreshToken:
          type: string
          description: Rotating opaque credential; only accepted by refresh/logout.
          pattern: '^mr\\.[a-f0-9]{32}\\.[a-f0-9]{64}$'
        expiresAt: { type: string, format: date-time }
        refreshExpiresAt: { type: string, format: date-time }

    MobileLoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    MobileAuthResponse:
      allOf:
        - $ref: '#/components/schemas/MobileTokenPair'
        - type: object
          required: [user]
          properties:
            user: { $ref: '#/components/schemas/User' }

    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: NOT_FOUND }
        message: { type: string }
        detail: { type: object, additionalProperties: true }

    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string, nullable: true }
        tier: { type: string, enum: [diophantus, riemann, descartes, euclid] }
        plan: { type: string, nullable: true }
        isGuest: { type: boolean, default: false }
        verifiedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        customInstructions: { type: string, nullable: true }
        preferences: { type: object, additionalProperties: true, nullable: true }
        defaultModel: { type: string, nullable: true }

    Message:
      type: object
      properties:
        id: { type: string, format: uuid }
        sessionId: { type: string, format: uuid }
        role: { type: string, enum: [user, assistant, system] }
        content: { type: string }
        rawText: { type: string, nullable: true }
        html: { type: string, nullable: true }
        type: { type: string, nullable: true }
        model: { type: string, nullable: true }
        tokenCount: { type: integer, nullable: true }
        attachments:
          type: array
          items: { $ref: '#/components/schemas/FileRef' }
        createdAt: { type: string, format: date-time }
        editedAt: { type: string, format: date-time, nullable: true }
        parentId: { type: string, format: uuid, nullable: true, description: For regenerated/edited chains }

    FeedbackReceipt:
      type: object
      properties:
        id: { type: string, format: uuid }
        messageId: { type: string, format: uuid }
        rating: { type: string, enum: [up, down, none] }
        storedAt: { type: string, format: date-time }

    SearchHit:
      type: object
      properties:
        kind: { type: string, enum: [session, message, artifact, memory] }
        id: { type: string, format: uuid }
        sessionId: { type: string, format: uuid, nullable: true }
        title: { type: string }
        snippet: { type: string, description: Excerpt with <mark> highlights }
        score: { type: number }
        updatedAt: { type: string, format: date-time }

    SessionSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        topic: { type: string, nullable: true }
        mode: { type: string, enum: [tutor, chat] }
        projectId: { type: string, format: uuid, nullable: true }
        tags:
          type: array
          items: { type: string }
        pinned: { type: boolean, default: false }
        archivedAt: { type: string, format: date-time, nullable: true }
        preview: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Project:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        color: { type: string, nullable: true }
        icon: { type: string, nullable: true }
        systemPrompt: { type: string, nullable: true }
        workspaceId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        sessionCount: { type: integer }

    ProjectDetail:
      allOf:
        - $ref: '#/components/schemas/Project'
        - type: object
          properties:
            recentSessions:
              type: array
              items: { $ref: '#/components/schemas/SessionSummary' }

    ScheduledTask:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        prompt: { type: string }
        sessionId: { type: string, format: uuid, nullable: true }
        cronExpression: { type: string, nullable: true }
        frequency: { type: string, enum: [once, hourly, daily, weekly, monthly, custom] }
        status: { type: string, enum: [pending, active, paused, completed, failed] }
        nextRunAt: { type: string, format: date-time, nullable: true }
        lastRunAt: { type: string, format: date-time, nullable: true }
        runCount: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ProjectConnectorField:
      type: object
      properties:
        key: { type: string }
        label: { type: string }
        type: { type: string }
        required: { type: boolean }
        help: { type: string }

    ProjectConnectorConnection:
      type: object
      properties:
        status: { type: string }
        connectionName: { type: string, nullable: true }
        requestId: { type: string, nullable: true }
        connectedAccountId: { type: string, nullable: true }
        displayName: { type: string, nullable: true }
        updatedAt: { type: string, format: date-time, nullable: true }
        lastError: { type: string, nullable: true }

    ProjectConnector:
      type: object
      properties:
        id: { type: string }
        service: { type: string }
        name: { type: string }
        description: { type: string }
        capabilities: { type: array, items: { type: string } }
        authType: { type: string, enum: [oauth, api_key, custom_credential] }
        credentialInput:
          type: object
          properties:
            fields: { type: array, items: { $ref: '#/components/schemas/ProjectConnectorField' } }
        connection:
          allOf:
            - $ref: '#/components/schemas/ProjectConnectorConnection'
          nullable: true

    KnowledgeNode:
      type: object
      properties:
        nodeName: { type: string, nullable: true }
        status: { type: string, enum: [fuzzy, internalized, blank] }
        sessionId: { type: string, format: uuid }
        sessionTitle: { type: string, nullable: true }

    Mistake:
      type: object
      properties:
        id: { type: string, format: uuid }
        sessionId: { type: string, format: uuid, nullable: true }
        nodeName: { type: string, nullable: true }
        questionContent: { type: string }
        userAnswer: { type: string, nullable: true }
        correctAnswer: { type: string, nullable: true }
        source: { type: string, enum: [quiz, practice, manual] }
        isResolved: { type: boolean }
        resolvedAt: { type: string, format: date-time, nullable: true }
        collectedAt: { type: string, format: date-time }

    FileRef:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        mimeType: { type: string }
        size: { type: integer, description: Bytes }
        kind: { type: string, enum: [image, video, audio, pdf, text, code, csv, other] }
        width: { type: integer, nullable: true, description: For images / video }
        height: { type: integer, nullable: true }
        pages: { type: integer, nullable: true, description: For PDFs }
        sha256: { type: string }
        uploadedAt: { type: string, format: date-time }
        thumbnailUrl: { type: string, format: uri, nullable: true }
        url: { type: string, format: uri }

    ChatDelta:
      type: object
      properties:
        choices:
          type: array
          items:
            type: object
            properties:
              delta:
                type: object
                properties:
                  content: { type: string, nullable: true }
                  role: { type: string, nullable: true }

    TranscriptWord:
      type: object
      properties:
        text: { type: string }
        start: { type: number }
        end: { type: number }
        confidence: { type: number }

    Artifact:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, enum: [html, react, svg, mermaid, code, markdown] }
        title: { type: string }
        source: { type: string }
        language: { type: string, nullable: true }
        sessionId: { type: string, format: uuid, nullable: true }
        messageId: { type: string, format: uuid, nullable: true }
        projectId: { type: string, format: uuid, nullable: true }
        visibility: { type: string, enum: [private, unlisted, public] }
        shareToken: { type: string, nullable: true }
        version: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ArtifactVersion:
      type: object
      properties:
        version: { type: integer }
        source: { type: string }
        createdAt: { type: string, format: date-time }
        createdBy: { type: string, format: uuid, nullable: true }

    MemoryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        text: { type: string }
        scope: { type: string, enum: [global, project] }
        projectId: { type: string, format: uuid, nullable: true }
        source: { type: string, enum: [user, extracted] }
        enabled: { type: boolean, default: true }
        confidence: { type: number, nullable: true, description: 0-1 for extracted memories }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Usage:
      type: object
      properties:
        period: { type: string, enum: [day, week, month, all] }
        from: { type: string, format: date }
        to: { type: string, format: date }
        totalTokens: { type: integer }
        totalCost: { type: number, description: USD }
        byModel:
          type: array
          items:
            type: object
            properties:
              model: { type: string }
              tokens: { type: integer }
              cost: { type: number }
              percent: { type: number }
        byDay:
          type: array
          items:
            type: object
            properties:
              date: { type: string, format: date }
              tokens: { type: integer }
              cost: { type: number }

    UsageLimits:
      type: object
      properties:
        plan: { type: string }
        tokenQuota: { type: integer, nullable: true, description: null = unlimited }
        tokensUsed: { type: integer }
        resetAt: { type: string, format: date-time, nullable: true }
        hardLimit: { type: boolean, description: true = block, false = overage allowed with billing }

    NotificationToken:
      type: object
      properties:
        id: { type: string, format: uuid }
        platform: { type: string }
        channels:
          type: array
          items: { type: string }
        createdAt: { type: string, format: date-time }

    NotificationPrefs:
      type: object
      properties:
        longTasks: { type: boolean, default: true }
        mentions: { type: boolean, default: true }
        replies: { type: boolean, default: false }
        billing: { type: boolean, default: true }
        quietHours:
          type: object
          properties:
            enabled: { type: boolean }
            from: { type: string, description: "HH:mm" }
            to: { type: string, description: "HH:mm" }
            timezone: { type: string }

    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        plan: { type: string, enum: [team, business] }
        ownerId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        memberCount: { type: integer }

    WorkspaceMember:
      type: object
      properties:
        userId: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string, nullable: true }
        role: { type: string, enum: [owner, admin, member, viewer] }
        joinedAt: { type: string, format: date-time }

    ImportJob:
      type: object
      properties:
        id: { type: string, format: uuid }
        source: { type: string, enum: [chatgpt, claude, socrates, jsonl] }
        status: { type: string, enum: [queued, running, completed, failed] }
        progress:
          type: object
          properties:
            total: { type: integer }
            processed: { type: integer }
            errors: { type: integer }
        createdAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }

    PromptTemplate:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        body: { type: string }
        icon: { type: string, nullable: true }
        category: { type: string, enum: [writing, code, learning, analysis, creative, other] }
        shortcut: { type: string, nullable: true, description: Slash-command alias }
        isBuiltin: { type: boolean, default: false }
        usageCount: { type: integer, default: 0 }
        createdAt: { type: string, format: date-time }

    PresenceUser:
      type: object
      properties:
        userId: { type: string, format: uuid }
        displayName: { type: string, nullable: true }
        color: { type: string }
        cursor:
          type: object
          properties:
            messageId: { type: string, format: uuid, nullable: true }
            offset: { type: integer, nullable: true }
        lastSeen: { type: string, format: date-time }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        anchor: { type: string }
        body: { type: string }
        authorId: { type: string, format: uuid }
        authorName: { type: string, nullable: true }
        parentId: { type: string, format: uuid, nullable: true }
        resolved: { type: boolean, default: false }
        createdAt: { type: string, format: date-time }

    AgentRun:
      type: object
      properties:
        id: { type: string, format: uuid }
        task: { type: string }
        status: { type: string, enum: [planning, awaiting_approval, running, paused, completed, failed, rolled_back] }
        plan:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              title: { type: string }
              rationale: { type: string, nullable: true }
              status: { type: string, enum: [pending, running, done, skipped, failed] }
        steps:
          type: array
          items: { $ref: '#/components/schemas/AgentStep' }
        checkpoints:
          type: array
          items: { $ref: '#/components/schemas/Checkpoint' }
        diffs:
          type: array
          items: { $ref: '#/components/schemas/FileDiff' }
        startedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time, nullable: true }

    AgentStep:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        input: { type: object, additionalProperties: true, nullable: true }
        output: { type: string, nullable: true }
        ok: { type: boolean }
        startedAt: { type: string, format: date-time }
        finishedAt: { type: string, format: date-time, nullable: true }

    Checkpoint:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        filesHash: { type: string, description: SHA-256 of the snapshot }
        createdAt: { type: string, format: date-time }

    FileDiff:
      type: object
      properties:
        id: { type: string, format: uuid }
        path: { type: string }
        before: { type: string, nullable: true }
        after: { type: string }
        status: { type: string, enum: [pending, approved, rejected, applied] }
        reason: { type: string, nullable: true, description: For rejections }

    ClassroomClass:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        description: { type: string, nullable: true }
        subject: { type: string, nullable: true }
        gradeLevel: { type: string, nullable: true }
        teacherId: { type: string, format: uuid }
        joinCode: { type: string, description: 6-char code students use to enrol }
        studentCount: { type: integer }
        createdAt: { type: string, format: date-time }

    StudentSummary:
      type: object
      properties:
[...]
